body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.heading
{
    font-size: 30px;
    font-style:bold;
    color: rgb(2, 2, 163);
}
.round{
    margin-top:-20px;
    margin-left:80px;
}
.img{
    width: 100px;
    height:100px;
}
.player{
    margin-top:40px;
    margin-left:-250px;
}
.player_score{
    margin-top:-40px;
    margin-left:-130px;
}
.computer{
    margin-top:-43px;
    margin-left:100px;
}
.computer_score{
    margin-top:-40px;
    margin-left:250px;
}